:root {
  --font-seriff: Labrada;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
}

body {
  background-color: #FFF;
  color: #000;
  font-family: var(--font-seriff);
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.loading {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}